---
title: bikes - itsdave!
layout: default.liquid
---

{%- assign index_tag = "computers" -%}
{%- for post in collections.posts.pages -%}
<section class="pp">
{% if post.tags contains index_tag %}
  {% include "_post_preview.liquid" %}
{% endif %}
</section>
{%- endfor -%}
