<div id="bottom_navigation">
  <hr>
  <ul>
    <li>
      {%- if page.previous -%}
      <a class="left" href="/{{ page.previous.permalink }}">← {{ page.previous.title }}</a>
      {%- endif -%}
    <li>
      <a href="/">
      {%- if page.title == "itsdave!" -%}Top
      {%- else -%}Home
      {%- endif -%}
      </a>
    <li>
      {%- if page.next -%}
      <a class="right" href="/{{ page.next.permalink }}">{{ page.next.title }} →</a>
      {%- endif -%}
  </ul>
</div>
