<footer>
<p><a href="https://mastodon.social/web/accounts/1085543">Mastodon ↗</a> | <a href="https://www.strava.com/athletes/6001450">Strava ↗</a> | <a href="https://www.youtube.com/channel/UCIBF_vjZRcAmMdVKIFFIXDg">Youtube ↗</a> | <a href="gopher://republic.circumlunar.space/1/~itsdave">gopherspace ↗</a> | © 2020 David Potter | This site is built with <a href="https://cobalt-org.github.io/">Cobalt ↗</a>. Its contents are licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 ↗</a> unless otherwise stated.</p>
</footer>
