<div id="navigation">
<hr>
<nav>
<ul>
<li>{% if page.title == "itsdave!" %}<a href="#top">Top{% else %}<a href="/">Home{% endif %}</a></li>
<li><a href="/rss.xml">RSS</a></li>
<li><a href="mailto:dave@dnhome.uk">Email</a></li>
</ul>
</nav>
</div>
