:root {
    /* Light theme (default) */
    --bg-color-light: #fff;
    --header-color-light: #222;
    --color-light: #222;
    --link-color-light: #536390;
    --accent-color-light: #ff9933;
    /* Dark theme */
    --bg-color-dark: #292a2d;
    --header-color-dark: #a9a9b3;
    --color-dark: #a9a9b3;
    --link-color-dark: #818cab;
    --accent-color-dark: #ff8000;
}
/* Inter font, fall back to web safe sans-serif font if the browser doesn't support woff2 */
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-Bold.woff2") format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-Italic.woff2") format('woff2');
    font-style: italic;
}
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-BlackItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
}
body {
    background-color: var(--bg-color-light);
    font-size: 100%;
    font-family: Inter;
    color: var(--color-light);
}
h1 {
    color: var(--header-color-light);
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
h2 {
    color: var(--accent-color-light);
    font-size: 1.75rem;
    font-weight: bold;
    font-style: italic;
    margin: 0.5em auto;
}
h3 {
    color: var(--header-color-light);
    font-size: 1.75rem;
    font-weight: bold;
    font-style: italic;
    margin: 0.5em auto;
}
h4 {
    color: var(--header-color-light);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin: 0.5em auto;
}
img {
    display: block;
    margin: 0.5em auto;
}
a {
    font-size: 0.9rem;
    color: var(--link-color-light);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    color: var(--color-light);
    font-size: 0.9rem;
    line-height: 1.4rem;
}
hr {
    border-top: 1px solid var(--color-light);
    border-bottom: none;
    width: 1.5em;
}
header ul {
    list-style-type: none;
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
header li {
    padding-right: 1.5em;
}
header a {
    color: var(--header-color-light);
    font-size: 1.75rem;
    font-weight: bold;
    font-style: italic;
}
header hr {
    width: auto;
    margin: 0;
}
footer {
    background-color: var(--bg-color-light);
    position: fixed;
    bottom: 0;
    padding: 0.25em 0.5em;
}
footer a {
    font-size: 0.7rem;
}
footer p {
    font-size: 0.7rem;
}
.pp {
    margin: 0 0 2em 0;
    display: flex;
    align-items: center;
}
.pp_flex_left {
    flex-grow: 2;
}
.pp_flex_right {
    flex-grow: 1;
    padding: auto;
}
.pp_img_round {
    border-radius: 50%;
    width: 8em;
    margin: 0 0 0 auto;
}
.pp_link {
    color: var(--accent-color-light);
    font-weight: bold;
}
.img_round {
    border-radius: 50%;
    margin: 1.5em auto;
}
.youtube {
    margin: 0.5em 0;
    display: block;
}
#container {
    width: 40em;
    display: block;
    margin: auto;
}
#bottom_navigation {
    padding: 0.5em 0em 5.5em 0em;
}
#bottom_navigation ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#bottom_navigation li {
    display: inline-block;
    text-align: center;
    width: 33.33%
}
#bottom_navigation a {
    color: var(--header-color-light);
    font-weight: bold;
}
#bottom_navigation hr {
    width: auto;
    margin: 0;
}
/* Scale elements on smaller screens to prevent side-scrolling */
@media only screen and (max-width: 42em) {
    #container {
        width: 96%;
    }
    img {
        width: 100%;
    }
    .img_round {
        width: 54vw;
    }
    .youtube {
        width: 100%;
    }
}
@media only screen and (max-width: 35em) {
    .pp_img_round {
        display: none;
    }
}
@media only screen and (max-width: 20em) {
    .img_round {
        width: 100%;
    }
}
/* Use dark theme if browser requests it */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-color-dark);
        color: var(--color-dark);
    }
    header a {
        color: var(--header-color-dark);
    }
    h1 {
        color: var(--header-color-dark);
    }
    h2 {
        color: var(--accent-color-dark);
    }
    h3 {
        color: var(--header-color-dark);
    }
    h4 {
        color: var(--header-color-dark);
    }
    a {
        color: var(--link-color-dark);
    }
    footer {
        background-color: var(--bg-color-dark);
    }
    hr {
        border-top: 1px solid var(--color-dark);
    }
    p {
        color: var(--color-dark);
    }
    .pp_link {
        color: var(--accent-color-dark);
    }
    #bottom_navigation a {
        color: var(--header-color-dark);
    }
}
