:root {
    /* Light theme (default) */
    --bg-color-light: #fff;
    --header-color-light: #292922;
    --color-light: #424242;
    --link-color-light: #536390;
    --accent-color-light: #ff9933;
    /* Dark theme */
    --bg-color-dark: #161625;
    --header-color-dark: #818cab;
    --color-dark: #e1e1ff;
    --link-color-dark: #818cab;
    --accent-color-dark: #ff8000;
}
/* Inter font, fall back to local sans-serif font if the browser doesn't support woff2 */
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-Bold.woff2") format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-Italic.woff2") format('woff2');
    font-style: italic;
}
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-BlackItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
}
body {
    background-color: var(--bg-color-light);
    font-size: 100%;
    font-family: Inter;
    color: var(--color-light);
}
h1 {
    color: var(--header-color-light);
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}
h2 {
    color: var(--header-color-light);
    font-size: 1.75rem;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h3 {
    color: var(--accent-color-light);
    font-size: 1.75rem;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h4 {
    color: var(--header-color-light);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
img {
    display: block;
    padding: 0;
    margin: 0.5em auto;
}
a {
    font-size: 0.9rem;
    color: var(--link-color-light);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}
hr {
    border-top: 0.1em solid var(--header-color-light);
    border-bottom: none;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 2em 0;
}
header li {
    display: inline;
    padding-right: 1em;
}
header a {
    color: var(--header-color-light);
    font-size: 1.75rem;
    font-weight: bold;
    font-style: italic;
}
article hr {
    border-top: 0.1em solid var(--color-light);
    width: 1.5em;
    margin: 1.5em auto;
}
footer {
    background-color: var(--bg-color-light);
    position: fixed;
    bottom: 0;
    padding: 0.25em 0.5em;
}
footer a {
    font-size: 0.7rem;
}
footer p {
    font-size: 0.7rem;
}
.post_preview {
    padding: 0em;
    margin-left: 0em;
    margin-bottom: 2em;
}
.post_preview_link {
    color: var(--accent-color-light);
    font-weight: bold;
}
.youtube {
    padding: 0em;
    margin-top: 0.5em;
    margin-bottom:0.5em;
    display: block;
}
#container {
    width: 40em;
    display: block;
    margin: auto;
}
#bottom_navigation {
    padding: 0.5em 0em 5.5em 0em;
}
#bottom_navigation ul {
    padding: 0em;
    margin: 0em;
}
#bottom_navigation li {
    display: inline-block;
    padding: 0.5em 0;
    width: 32.8%;
    text-align: center;
}
#bottom_navigation a {
    color: var(--header-color-light);
    font-weight: bold;
}
/* Scale elements on smaller screens to prevent side-scrolling */
@media only screen and (max-width: 40em) {
    #container {
        width: 96%;
    }
    img {
        width: 100%;
    }
    .youtube {
        width: 100%;
    }
}
/* Use dark theme if browser requests it */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-color-dark);
	color: var(--color-dark);
    }
    header a {
        color: var(--header-color-dark);
    }
    h1 {
        color: var(--header-color-dark);
    }
    h2 {
        color: var(--header-color-dark);
    }
    h3 {
        color: var(--accent-color-dark);
    }
    h4 {
        color: var(--header-color-dark);
    }
    p {
        color: var(--color-dark);
    }
    a {
        color: var(--link-color-dark);
    }
    hr {
        border-top: 0.1em solid var(--header-color-dark);
    }
    article hr {
        border-top: 0.1em solid var(--color-light);
    }
    footer {
        background-color: var(--bg-color-dark);
    }
    #bottom_navigation a {
        color: var(--header-color-dark);
    }
}
