:root {
    --bg-color: #292a2d;
    --header-color: #D2D2D2;
    --color: #D2D2D2;
    --link-color: #C1CCEA;
    --accent-color: #ffa000;
}
/* Inter font, fall back to web safe sans-serif font if the browser doesn't support woff2 */
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-Bold.woff2") format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-Italic.woff2") format('woff2');
    font-style: italic;
}
@font-face {
    font-family: "Inter";
    src: local("sans-serif");
    src: local("Helveteca");
    src: local("Arial");
    src: url("/assets/fonts/Inter-BlackItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
}
body {
    background-color: var(--bg-color);
    font-size: 100%;
    font-family: Inter;
    color: var(--color);
    margin: 0.5em auto;
}
h1,h2,h3 {
    font-weight: bold;
    font-style: italic;
}
h1 {
    color: var(--accent-color);
    font-size: 1.6rem;
}
h2 {
    color: var(--header-color);
    font-size: 1.25rem;
}
h3 {
    color: var(--header-color);
    font-size: 1rem;
}
img {
    width: 100%;
    display: block;
}
a {
    font-size: 0.9rem;
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    color: var(--color);
    font-size: 0.9rem;
    line-height: 1.4rem;
}
hr {
    border-top: 2px solid var(--color);
    border-bottom: none;
    width: 1.5em;
}
time {
    font-family: "Lucida Console", Monaco, monospace;
}
footer {
    background-color: var(--background-color);
    position: fixed;
    bottom: 0;
    padding: 0.25em 0.5em;
}
footer a {
    font-size: 0.7rem;
}
footer p {
    font-size: 0.7rem;
}
.img_round {
    width: 360px;
    border: 2px solid var(--color);
    border-radius: 100%;
    margin: 1.5em auto;
}
.youtube {
    width: 100%;
    display: block;
}
#container {
    width: 40em;
    display: block;
    margin: auto;
}
#navigation {
    padding: 0 0 4em 0;
}
#navigation ul {
    padding: 0;
}
#navigation li {
    display: inline;
    padding: 0 1em 0 0;
}
#navigation a {
    color: var(--header-color);
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}
#navigation hr {
    width: auto;
    margin: 0.5em 0;
}
/* Scale elements on smaller screens to prevent side-scrolling */
@media only screen and (max-width: 42em) {
    #container {
        width: 96%;
    }
}
@media only screen and (max-width: 33em) {
    .img_round {
        width: 54vw;
    }
}

