<!DOCTYPE html>
<html lang="en" id="top">
{% include "_head.liquid" %}
<body>
<div id="container">
<main>
{{ page.content }}
</main>
{% include "_bottom_navigation.liquid" %}
</div>
{% include "_footer.liquid" %}
</body>
</html>
