<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include "_head.liquid" -%}
  </head>
  <body>
    <div id="container">
      <header>
        {%- include "_header.liquid" -%}
      </header>
      <main>
        <section>
          {{ page.content }}
        </section>
      </main>
      {%- include "_bottom_navigation.liquid" -%}
    </div>
    <footer>
      {%- include "_footer.liquid" -%}
    </footer>
  </body>
</html>
